# ------------------------------------------------------------------------------
# OS-specific files
# ------------------------------------------------------------------------------

Thumbs.db
ehthumbs.db
Desktop.ini

# ------------------------------------------------------------------------------
# Quartus Prime (Intel FPGA)
# ------------------------------------------------------------------------------

*.qdb/
*.rpt
*.smsg
*.summary
*.eqn
*.jdi
*.pin
*.sld
*.smsg
*.tan
*.pof
*.sof
*.map
*.fit
*.sta
*.chg
*.qpf.bak
*.qsf.bak
*.bak
*.qws
*.ddb/
*.qip
*.sip
*.sopcinfo
*.bdf~
*.cdf
*.jic
*.ekp
*.qdf
*.srec
*.fsf
*.idb/
*.cmp
*.htm
*.html
*.xml
*.log
*.rpt.xml
*.rpt.html
*.smsg.xml
*.ptf
*.spd
*.zip
*.qdz
*.qgz
*.qar
*.qarlog
db/
incremental_db/
simulation/modelsim/
output_files/
greybox_tmp/
tmp/
cache/

# ------------------------------------------------------------------------------
# Icarus Verilog
# ------------------------------------------------------------------------------

*.vvp
*.out
*.vcd
*.fst
*.lxt
*.lxt2
*.vpi
*.vti
*.o
*.exe
*.log
*.dump

# ------------------------------------------------------------------------------
# Simulation / testbench waves
# ------------------------------------------------------------------------------

*.view
*.vcd
*.wlf
*.asdb
*.vstf
*.vstfdb
*.ucdb
netlist/

# ------------------------------------------------------------------------------
# PlatformIO
# ------------------------------------------------------------------------------

include/
lib/
test/
Arduino/.gitignore
platformio.ini
*.pio/
*.vscode/

# ------------------------------------------------------------------------------
# Doc files
# ------------------------------------------------------------------------------

datasheet/
schematic/
*.drawio
*.pdf
*.docx